@(professor: viewmodels.ViewProfessor, ssn: Int)

@menu = {
<li><a href="@professorcontrollers.routes.MySectionsController.index(ssn)">View My Sections</a></li>
<li><a href="@professorcontrollers.routes.RequestToTeachController.index(ssn)">Request to Teach</a></li>
<li><a href="@professorcontrollers.routes.MyProfessorInformationController.index(ssn)">My Information</a></li>
}
@main("My Information")(menu) {
<script>
    $(document).ready(function() {
        $('.edit').editable(function(value, settings){
            console.log($(this).attr('id'));
            console.log(value);
            console.log(settings);
            var ch = 0;
            $.ajax({
                url: '/professorPortal/@ssn/myinformation/' + $(this).attr('id') + '&' + value,
                async: false,
                type: 'POST',
                success: function(result) {
                    // Do something with the result
                    ch = 1;
                    return value;
                },
                error: function() {
                    ch = 0;
                    return('Click to edit');
                }
            });
            if(ch == 1){
                return value;
            } else{
                return 'Click to edit';
            }
        });
    });
</script>
<script src="@routes.Assets.at("javascripts/jquery.jeditable.mini.js")"></script>
<table class="table" cellpadding="10" >
    <tr>
        <th>Info</th>
    </tr>
    <tr>
        <td>SSN</td>
        <td>@professor.getSsn()</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@professor.getTitle() @professor.getName()</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td class="edit" id="phone" >@professor.getPhone()</td>
    </tr>
    <tr>
        <td>Email</td>
        <td class="edit" id="email" >@professor.getEmail()</td>
    </tr>
    <tr>
        <td>Address</td>
        <td class="edit" id="address" >@professor.getAddress()</td>
    </tr>
    <tr>
        <td>City</td>
        <td class="edit" id="city" >@professor.getCity()</td>
    </tr>
    <tr>
        <td>State</td>
        <td class="edit" id="state" >@professor.getState()</td>
    </tr>
    <tr>
        <td>Zip</td>
        <td class="edit" id="zip" >@professor.getZip()</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>@professor.getSalary()</td>
    </tr>
</table>
}
