@(sections: ArrayList[viewmodels.ViewSection], courses: ArrayList[viewmodels.ViewCourse], ssn: Int)

@import helper._

@menu = {
<li><a href="@professorcontrollers.routes.MySectionsController.index(ssn)">View My Sections</a></li>
<li><a href="@professorcontrollers.routes.RequestToTeachController.index(ssn)">Request to Teach</a></li>
<li><a href="@professorcontrollers.routes.MyProfessorInformationController.index(ssn)">My Information</a></li>
}
@main("My Sections")(menu){
<table class="table" cellpadding="10">
    <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Section</th>
        <th>Semester</th>
        <th>Year</th>
        <th>Students</th>
    </tr>
    @for(index <- 0 until sections.size()){
    <tr>
        <td>@courses.get(index).getCourseName()</td>
        <td>@courses.get(index).getDescription()</td>
        <td>@sections.get(index).getSectionNumber()</td>
        <td>@sections.get(index).getSemester()</td>
        <td>@sections.get(index).getYearOffered()</td>
        <td>
            <a href="@professorcontrollers.routes.MySectionsController.roster(ssn, sections.get(index).getSectionId())">View Roster</a>
        </td>
    </tr>
    }
</table>
}
