@(professor: viewmodels.ViewProfessor)

@import helper._

@menu = {
<li><a href="@professorcontrollers.routes.MySectionsController.index(professor.getSsn())">View My Sections</a></li>
<li><a href="@professorcontrollers.routes.RequestToTeachController.index(professor.getSsn())">Request to Teach</a></li>
<li><a href="@professorcontrollers.routes.MyProfessorInformationController.index(professor.getSsn())">My Information</a></li>
}
@main("Professor Portal")(menu) {

<header align="center">Hello @professor.getName()</header>
<h1 align="center">Welcome to your Professor Portal</h1>

<br>

<table class="table" cellpadding="10">
    <tbody>
    <tr>
        <td>
            <a href="@professorcontrollers.routes.MySectionsController.index(professor.getSsn())" ><span>View My Sections</span></a>
        </td>
        <td>
            <a href="@professorcontrollers.routes.RequestToTeachController.index(professor.getSsn())" ><span>Request to Teach</span></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@professorcontrollers.routes.MyProfessorInformationController.index(professor.getSsn())"><span>My Information</span></a>
        </td>
    </tr>
    </tbody>
</table>
}
