@(ssn: Int, courses: ArrayList[viewmodels.ViewCourse], form: Form[professorcontrollers.RequestToTeachController.SectionForm], offset: Int)

@menu = {
<li><a href="@professorcontrollers.routes.MySectionsController.index(ssn)">View My Sections</a></li>
<li><a href="@professorcontrollers.routes.RequestToTeachController.index(ssn)">Request to Teach</a></li>
<li><a href="@professorcontrollers.routes.MyProfessorInformationController.index(ssn)">My Information</a></li>
}
@main("Register for sections")(menu){

<script>
    $(function() {
        $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 600,
            width: 700,
            modal: true,
            buttons: {
                "Create a new section": function() {
                    var bValid = true;
                    //allFields.removeClass( "ui-state-error" );

                    //bValid = bValid && checkLength( city, "city", 2, 30 );
                    //bValid = bValid && checkRange( zip, "zip", 5 );

                    if ( bValid ) {
                        $( "#section-form" ).submit();
                    } else {
                        //alert("Form not valid");
                    }
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                },
                close: function() {
                    //allFields.val( "" ).removeClass( "ui-state-error" );
                }
            });

            $( "#create-section" )
            .button()
            .click(function() {
            if($('input[name="select"]:checked').val()){
                var radioButtons = $("input:radio[name='select']");
                var selectedIndex = radioButtons.index(radioButtons.filter(':checked'));
                var name = document.getElementById('courseTable').rows[selectedIndex+1].cells[0].innerHTML;
                var table = document.getElementById('courseTable');
                var row = table.rows[selectedIndex+1];
                document.getElementById('coursename').innerHTML=name;
                document.getElementById('parentCourseId').value = row.id;
                $( "#dialog-form" ).dialog( "open" );
            }
        });
    });
</script>
<script>
</script>
<button id="create-section" class="ui-button ui-widget">Create Section</button>
<table class="table" cellpadding="10" id="courseTable">
    <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Course ID</th>
        <th>Create a section</th>
    </tr>
    @for(index <- 0 until courses.size()){
    <tr id="@courses.get(index).getCourseId()">
        <td>@courses.get(index).getCourseName()</td>
        <td>@courses.get(index).getDescription()</td>
        <td>@courses.get(index).getCourseId()</td>
        <td><input type="radio" name="select" /> </td>
        <td><input type="hidden" name="hiddenId" value="@courses.get(index).getCourseId()" id="hiddenID" /> </td>
    </tr>
    }
</table>
<div><a href="@professorcontrollers.routes.RequestToTeachController.nextPage(ssn, offset+50)">Next page</a></div>
<!-- Popup modal form -->
<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="dialog-form" aria-labelledby="ui-id-1" style="position: absolute; height: auto; width: 350px; top: 310.5px; left: 749.5px; display: none;"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span id="ui-id-1" class="ui-dialog-title">Create new zip entry</span><button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="close"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">close</span></button></div><div id="dialog-form" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 207px;">
    <p class="validateTips">All form fields are required.</p>

    @helper.form(professorcontrollers.routes.RequestToTeachController.professorCreateSection(ssn), 'id -> "section-form") {
        @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
        }
        <fieldset class="fieldset">
            <label for="coursename">Course Name</label>
            <div id="coursename" name="coursename" class="text ui-widget-content ui-corner-all"></div>
            <input type="hidden" name="parentCourseId" id="parentCourseId" />
            <label for="sectionNumber">Section Number</label>
            <div><input type="text" name="sectionNumber" id="sectionNumber" class="text ui-widget-content ui-corner-all" /></div>
            <label for="semester">Semester Offered</label>
            <div><select name="semester" id="semester" class="select ui-widget-content ui-corner-all">
                <option label="Fall">Fall</option>
                <option label="Spring">Spring</option>
            </select></div>
            <label for="yearOffered">Year Offered</label>
            <div><input type="number" name="yearOffered" id="yearOffered" class="number ui-widget-content ui-corner-all" /></div>
            <label for="maxSeats">Max seats</label>
            <div><input type="number" name="maxSeats" id="maxSeats" class="number ui-widget-content ui-corner-all" /></div>
        </fieldset>
    }
</div> </div>
}