@( sectionId: Int, ssn: Int, students: ArrayList[viewmodels.ViewStudent], transcripts: ArrayList[Character])

@menu = {
<li><a href="@professorcontrollers.routes.MySectionsController.index(ssn)">View My Sections</a></li>
<li><a href="@professorcontrollers.routes.RequestToTeachController.index(ssn)">Request to Teach</a></li>
<li><a href="@professorcontrollers.routes.MyProfessorInformationController.index(ssn)">My Information</a></li>
}
@main("Roster")(menu){
<script>
    $(document).ready(function() {
    $('.edit').editable(function(value, settings){
    console.log($(this).attr('id'));
    console.log(value);
    console.log(settings);
    var ch = 0;
    $.ajax({
    url: '/professorPortal/@ssn/mysections/@sectionId/' + value + '&' + $(this).attr('id'),
    async: false,
    type: 'POST',
    success: function(result) {
    // Do something with the result
    ch = 1;
    return value;
    },
    error: function() {
    ch = 0;
    return('Click to edit');
    }
    });
    if(ch == 1){
    return value;
    } else{
    return 'Click to edit';
    }
    });
    });
</script>
<script src="@routes.Assets.at("javascripts/jquery.jeditable.mini.js")"></script>
<table class="table" cellpadding=10>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Major</th>
        <th>Grade</th>
    </tr>
    @for(index <- 0 until students.size()){
    <tr>
        <td>@students.get(index).getName()</td>
        <td>@students.get(index).getPhone()</td>
        <td>@students.get(index).getEmail()</td>
        <td>@students.get(index).getMajor()</td>
        <td class="edit" id="@students.get(index).getSsn()">@transcripts.get(index)</td>
    </tr>
    }
</table>
}