@(bills: ArrayList[viewmodels.ViewBillReport], ssn: Int)

<script>
    function confirmPayment(id)
    {
        var c = confirm("Would you like us to charge to your payment account?");
        if(c == true)
        {
            $.ajax({
                url: '/studentPortal/@ssn/ebill/' + id,
                type: 'POST',
                success: function(result) {
                    alert("Payment accepted!");
                    window.location.reload();
                },
                error: function() {
                    alert("Payment was rejected. Please call the Financial Aid office.");
                }
            });
        }
    }
</script>
@menu = {
<li><a href="@studentcontrollers.routes.RegistrationController.index(ssn)">View Courses/Sections</a></li>
<li><a href="@studentcontrollers.routes.EBillController.index(ssn)">View E-Bill</a></li>
<li><a href="@studentcontrollers.routes.ScheduleController.index(ssn)">View Schedule</a></li>
<li><a href="@studentcontrollers.routes.MyStudentInformationController.index(ssn)">My Information</a></li>
<li><a href="@studentcontrollers.routes.TranscriptsController.index(ssn)">My Transcripts</a></li>
}
@main("E-Bill")(menu){
    <table class="table" cellpadding="10">
        <tr>
            <th>Total Balance Due</th>
            <th>Date Billed</th>
            <th>Paid?</th>
        </tr>
        @for(index <- 0 until bills.size()){
        <tr>
            <td>@bills.get(index).getTotalBalance().getAmount()</td>
            <td>@bills.get(index).getTimeStamp().toString()</td>
            <td>@bills.get(index).isPaid()</td>
            @if(!(bills.get(index).isPaid())){
            <td><input type="submit" value="Pay" onclick="confirmPayment(@bills.get(index).getBillReportId())"> </td>
            }
        </tr>
        }
    </table>
}