@(student: viewmodels.ViewStudent, ssn: Int)

@menu = {
<li><a href="@studentcontrollers.routes.RegistrationController.index(ssn)">View Courses/Sections</a></li>
<li><a href="@studentcontrollers.routes.EBillController.index(ssn)">View E-Bill</a></li>
<li><a href="@studentcontrollers.routes.ScheduleController.index(ssn)">View Schedule</a></li>
<li><a href="@studentcontrollers.routes.MyStudentInformationController.index(ssn)">My Information</a></li>
<li><a href="@studentcontrollers.routes.TranscriptsController.index(ssn)">My Transcripts</a></li>
}
@main("MyInformation")(menu){
<script>
    $(document).ready(function() {
    $('.edit').editable(function(value, settings){
    console.log($(this).attr('id'));
    console.log(value);
    console.log(settings);
    var ch = 0;
    $.ajax({
    url: '/studentPortal/@ssn/myinformation/' + $(this).attr('id') + '&' + value,
    async: false,
    type: 'POST',
    success: function(result) {
    // Do something with the result
    ch = 1;
    return value;
    },
    error: function() {
    ch = 0;
    return('Click to edit');
    }
    });
    if(ch == 1){
    return value;
    } else{
    return 'Click to edit';
    }
    });
    });
</script>
<script src="@routes.Assets.at("javascripts/jquery.jeditable.mini.js")"></script>
<table class="table" cellpadding="10">
    <tr>
        <th>Info</th>
    </tr>
    <tr>
        <td>SSN</td>
        <td>@student.getSsn()</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@student.getName()</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td class="edit" id="phone" >@student.getPhone()</td>
    </tr>
    <tr>
        <td>Email</td>
        <td class="edit" id="email" >@student.getEmail()</td>
    </tr>
    <tr>
        <td>Address</td>
        <td class="edit" id="address" >@student.getAddress()</td>
    </tr>
    <tr>
        <td>City</td>
        <td class="edit" id="city" >@student.getCity()</td>
    </tr>
    <tr>
        <td>State</td>
        <td class="edit" id="state" >@student.getState()</td>
    </tr>
    <tr>
        <td>Zip</td>
        <td class="edit" id="zip" >@student.getZip()</td>
    </tr>
    <tr>
        <td>Major</td>
        <td class="edit" id="major" >@student.getMajor()</td>
    </tr>
    <tr>
        <td>Class Status</td>
        <td>@student.getClassStatus()</td>
    </tr>
</table>
}
