@(registrar: viewmodels.ViewRegistrar, length: Int, ssn: Int, offset: Int)

@menu = {
<li><a href="@studentcontrollers.routes.RegistrationController.index(ssn)">View Courses/Sections</a></li>
<li><a href="@studentcontrollers.routes.EBillController.index(ssn)">View E-Bill</a></li>
<li><a href="@studentcontrollers.routes.ScheduleController.index(ssn)">View Schedule</a></li>
<li><a href="@studentcontrollers.routes.MyStudentInformationController.index(ssn)">My Information</a></li>
<li><a href="@studentcontrollers.routes.TranscriptsController.index(ssn)">My Transcripts</a></li>
}
@main("Register for classes")(menu){

<script>
function confirmRegister(id)
{
    var c = confirm("Are you sure you want to register for this course?");
    if(c == true)
    {
        $.ajax({
            url: '/studentPortal/@ssn/register/' + id,
            type: 'PUT',
            success: function(result) {
                // Do something with the result
                alert("Registered!");
            },
            error: function() {
                alert("You are already registered for that class!");
            }
        });
    }
}
</script>
<!-- TODO implement search instead of listing -->
<table class="table" cellpadding="10">
    <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Section</th>
        <th>Instructor</th>
        <th>Semester</th>
        <th>Year</th>
        <th style="color:blue">Register</th>
    </tr>
    @for(index <- 0 until length){
    <tr>
        <td>@registrar.getAllCourses().get(index).getCourseName()</td>
        <td>@registrar.getAllCourses().get(index).getDescription()</td>
        <td>@registrar.getAllSections().get(index).getSectionNumber()</td>
        <td>@registrar.getAllProfessors().get(index).getTitle() @registrar.getAllProfessors().get(index).getName()</td>
        <td>@registrar.getAllSections().get(index).getSemester()</td>
        <td>@registrar.getAllSections().get(index).getYearOffered()</td>
        <td><input type="submit" value="Register" onclick="confirmRegister(@registrar.getAllSections().get(index).getSectionId())"> </td>
    </tr>
    }
</table>
<div><a href="@studentcontrollers.routes.RegistrationController.nextPage(ssn, offset+50)">Next page</a></div>
}