@(sections: ArrayList[viewmodels.ViewSection], courses: ArrayList[viewmodels.ViewCourse], professors: ArrayList[viewmodels.ViewProfessor], ssn: Int)

@menu = {
<li><a href="@studentcontrollers.routes.RegistrationController.index(ssn)">View Courses/Sections</a></li>
<li><a href="@studentcontrollers.routes.EBillController.index(ssn)">View E-Bill</a></li>
<li><a href="@studentcontrollers.routes.ScheduleController.index(ssn)">View Schedule</a></li>
<li><a href="@studentcontrollers.routes.MyStudentInformationController.index(ssn)">My Information</a></li>
<li><a href="@studentcontrollers.routes.TranscriptsController.index(ssn)">My Transcripts</a></li>
}
@main("Schedule")(menu){
<script>
function confirmDrop(id)
{
    var c = confirm("Are you sure you want to drop this course?");
    if(c == true)
    {
        $.ajax({
            url: '/studentPortal/@ssn/schedule/' + id,
            type: 'DELETE',
            success: function(result) {
                // Do something with the result
                window.location.reload();
            }
        });
    }
}
</script>
<table class="table" cellpadding="10">
    <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Section</th>
        <th>Instructor</th>
        <th>Semester</th>
        <th>Year</th>
        <th style="color:red">Drop</th>
    </tr>
@for(index <- 0 until sections.size()){
    <tr>
        <td>@courses.get(index).getCourseName()</td>
        <td>@courses.get(index).getDescription()</td>
        <td>@sections.get(index).getSectionNumber()</td>
        <td>@professors.get(index).getName()</td>
        <td>@sections.get(index).getSemester()</td>
        <td>@sections.get(index).getYearOffered()</td>
        <td><input type="submit" value="Drop" onclick="confirmDrop(@sections.get(index).getSectionId())"> </td>
    </tr>
}
</table>
}
