@(student: viewmodels.ViewStudent)

@import helper._

@menu = {
<li><a href="@studentcontrollers.routes.RegistrationController.index(student.getSsn())">View Courses/Sections</a></li>
<li><a href="@studentcontrollers.routes.EBillController.index(student.getSsn())">View E-Bill</a></li>
<li><a href="@studentcontrollers.routes.ScheduleController.index(student.getSsn())">View Schedule</a></li>
<li><a href="@studentcontrollers.routes.MyStudentInformationController.index(student.getSsn())">My Information</a></li>
<li><a href="@studentcontrollers.routes.TranscriptsController.index(student.getSsn())">My Transcripts</a></li>
}
@main("Student Portal")(menu) {

<header align="center">Hello @student.getName()</header>
<h1 align="center">Welcome to your Student Portal</h1>

<br>

<table class="table" cellpadding="10">
    <tbody>
    <tr>
        <td>
            <a href="@studentcontrollers.routes.RegistrationController.index(student.getSsn())" ><span>View Courses/Sections</span></a>
        </td>
        <td>
            <a href="@studentcontrollers.routes.EBillController.index(student.getSsn())" ><span>View E-Bill</span></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@studentcontrollers.routes.ScheduleController.index(student.getSsn())"><span>View Schedule</span></a>
        </td>
        <td>
            <a href="@studentcontrollers.routes.MyStudentInformationController.index(student.getSsn())"><span>My Information</span></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="@studentcontrollers.routes.TranscriptsController.index(student.getSsn())"><span>My Transcripts</span></a>
        </td>
    </tr>
    </tbody>
</table>

}

