@(ssn: Int, transcripts: List[viewmodels.ViewTranscript])

@menu = {
<li><a href="@studentcontrollers.routes.RegistrationController.index(ssn)">View Courses/Sections</a></li>
<li><a href="@studentcontrollers.routes.EBillController.index(ssn)">View E-Bill</a></li>
<li><a href="@studentcontrollers.routes.ScheduleController.index(ssn)">View Schedule</a></li>
<li><a href="@studentcontrollers.routes.MyStudentInformationController.index(ssn)">My Information</a></li>
<li><a href="@studentcontrollers.routes.TranscriptsController.index(ssn)">My Transcripts</a></li>
}
@main("Transcripts")(menu){
<table class="table" cellpadding="10">
    <tr>
        <th>Course Name</th>
        <th>Section</th>
        <th>Instructor</th>
        <th>Grade</th>
    </tr>
@for(transcript <- transcripts) {
    <tr>
        <td>@transcript.getCourseName()</td>
        <td>@transcript.getSectionNumber()</td>
        <td>@transcript.getProfName()</td>
        <td>@transcript.getGradeLetter()</td>
    </tr>
}
</table>
}