@(message: String)

@main("Welcome to Play") {

    @play20.welcome(message, style = "Java")
    
    @* <p> @{Application.outputExample()} method="GET"</p> *@

	@* <a href="@{Application.outputExample()}" method="GET"> Show example student output! </a> *@

}
