@(message: String)
@import helper._

@menu = {
}
@main("Welcome")(menu) {

        <h1> Welcome to University Registration </h1>

        <br>

        <a href=""><div>Go To Portal</div></a>

        <br>

        <a href="@routes.Application.outputExample()">Click for example output query</a>
}
