@(form: Form[Application.Login])
@menu = {
}
@main("Login")(menu){
    @helper.form(routes.Application.authenticate) {
        <h1>Sign in</h1>

        <p>
            <input type="password" name="ssn" placeholder="Ssn" value="@form("ssn").value">
        </p>
        <p>
            <button type="submit">Login</button>
        </p>
        @if(form.hasGlobalErrors) {
            <p class="error">
                @form.globalError.message
            </p>
        }
        @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
        }
    }
}
