@(message: String)

@menu = {
        }
@main("Output")(menu) {

    <head>
        <!-- jQuery: Grab Google CDN jQuery. fall back to local if necessary -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write('<script src="jquery-1.4.1.min.js"><\/script>')</script>

        <!-- The raptorize file  -->
        <script src="@routes.Assets.at("javascripts/jquery.raptorize.1.0.js")"></script>

        <!-- For the Konami Code version -->
        <script type="text/javascript">
            $(window).load(function() {
            $('body').raptorize({
            'enterOn' : 'konami-code'
            });
            });
        </script>
    </head>

    <p> @message </p>

}
